body, html {
    max-width: 800px;
    margin: auto;
}
main section {
    border: solid 3px rgb(138, 158, 223);
    background-color: aliceblue;
    padding: 10px;
}
section div {
    margin-bottom: 60px;
}

.badge {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

.badge.done {
  background-color: #c6f6d5;
  color: #276749;
}

.badge.wip {
  background-color: #fefcbf;
  color: #975a16;
}