body, html {
    max-width: 800px;
    margin: auto;
}
main section {
    border: solid 3px rgb(138, 158, 223);
    background-color: aliceblue;
    padding: 10px;
}
section div {
    margin-bottom: 60px;
}